%h1= t Gallery.model_name.human
%table.table.table-striped
  %tbody
    - @gallery.attributes.each do |key, value|
      - if key == 'id' || key.include?('digest') || key == 'created_at' || key == 'updated_at' || key == 'images' 
        //skip these attributes
      -else
        %tr
          - if key == 'status'
            %td= t 'status.status'
            %td= status_mark @gallery.status
          -else
            %td= t "activerecord.attributes.gallery.#{key}"
            %td= value

- if @gallery.images.present?
  .input-group-addon
    %h3= "Images Collection"
    %table.table.table-striped
      - @gallery.images.each_with_index do |image, index|   #grab the index
        %tr
          %td= image_tag(image.thumb.url)
          %td= link_to "Delete", admin_gallery_image_path(@gallery, index), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" }

  .input-group-addon
    = form_for @gallery, url: admin_gallery_images_path(@gallery), method: :post do |f| # use customized url endpoint 
      .row
        .col-md-2
          = f.file_field :images, multiple: true
        .col-md-2
        = f.submit "Add More Images"

%br
.form_actions
  .row
    .col-md-2
      = link_to t('actions.back'), admin_galleries_path, class: 'btn btn-primary btn-block'
